@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-black: #000000;
  --color-primary-dark: #1F150C;
  --color-primary-brown: #412D15;
  --color-primary-cream: #E1DCC9;
}

body {
  background-color: #1F150C;
  color: #E1DCC9;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

/* Garis penghubung pohon */
.rd3t-link {
  stroke: #412D15 !important;
  stroke-width: 2px !important;
  opacity: 1;
  fill: none;
}
